@mixin padding() {
    @media (max-width: 1275px) {
        padding: 0 40px;
    }
    @media (max-width: 725px) {
        padding: 0 20px;
    }
}


@media (prefers-color-scheme: light) {
  .block {
    background: white;
    color: black;
  }
}


h1 {
    font-size: 48px;
    @media (max-width: 725px) {
        font-size: 36px;
    }
    @media (max-width: 475px) {
        font-size: 30px;
    }
}

section {
    margin-top: 100px;
    margin-bottom: 100px;
}

section:nth-child(4) {
    background-color: black;
}

section:nth-child(6) {
    background-color: black;
}

.normal {
    font-weight: 400;
}

.hero {
    position: relative;
    display: flex;
    padding: 0 32px;
    @media (max-width: 1275px) {
        flex-direction: column-reverse;
    }
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 32px;
    @include padding();
}

.header {
    font-size: 48px;
    text-align: center;
    margin-bottom: 32px;
    @media (max-width: 725px) {
        font-size: 36px;
    }
}

.hero-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 48px;
    height: 100%;
    @media (max-width: 1275px) {
        position: static;
        gap: 24px;
    }
    @media (max-width: 725px) {
        gap: 16px;
    }
}

.hero-links {
    display: flex;
    gap: 48px;
    .hero-icon {
        width: 64px;
        height: 64px;
    }
    @media (max-width: 725px) {
        gap: 24px;
    }
    @media (max-width: 475px) {
        gap: 16px;
    }
}

.in {
    background-color: black;
    color: white;
}

.hero-description {
    max-width: 701px;
    font-size: 24px;
    font-weight: 400;
    color: #00000099;
    @media (max-width: 1275px) {
        font-size: 20px;
    }
    @media (max-width: 725px) {
        font-size: 16px;
    }
}

.hero-image {
    margin-left: auto;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    @media (max-width: 1275px) {
        margin-left: 0;
    }
}

.skills-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    @include padding();
}

.skill-card {
    display: flex;
    height: 180px;
    width: 186px;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    border: 1px solid #000;
    i {
        font-size: 48px;
    }
    p {
        font-size: 18px;
        font-weight: 800;
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        font-optical-sizing: auto;
    }
    @media (hover: hover) {
        &:hover {
            background-color: black;
            color: white;
        }
    }
    @media (hover: none) {
        &:active {
            background-color: black;
            color: white;
        }
    }
}


.white {
    color: white;
    padding: 100px 0;
    @media (max-width: 1275px) {
        padding: 48px 40px;
    }
    @media (max-width: 725px) {
        padding: 32px 20px;
    }
}

.experience-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 32px;
    @include padding();
}

.experience-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 16px;
    border-radius: 8px;
    border: 1px solid #FFF;
    .header-wrapper {
        display: flex;
        gap: 24px;
        align-items: center;
    }
    .card-header {
        font-size: 30px
    }
    .card-description {
        font-size: 18px;
    }
    .experience-icon {
        display: inline;
        width: 32px;
        height: 32px;
    }
}

.about {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    gap: 123px;
    @media (max-width: 1275px) {
        flex-direction: column;
        align-items: center;
    }
    @include padding();
}

.avatar {
    width: 100%;
    height: 100%;
}

.avatar-wrapper {
    max-width: 495px;
    min-width: 495px;
    @media (max-width: 1275px) {
        min-width: auto;
    }
}

.about-content {
    .header {
        text-align: left;
    }
    .about-description {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 16px;
        line-height: 26px;
        color: #00000099
    }
}


.projects-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.project {
    display: flex;
    gap: 124px;
    @media (max-width: 1275px) {
        flex-direction: column;
        gap: 44px;
    }
    @media (max-width: 725px) {
        gap: 36px;
    }
    .project-image {
        height: 338px;
        border-radius: 20px;
        overflow: hidden;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .project-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        max-width: 495px;
        .number {
            font-size: 48px;
        }
        .project-title {
            font-size: 30px;
        }
        .project-description {
            color: #FFFFFF99
        }
    }
    .more-btn {
        display: block;
        padding: 16px 20px;
        border-radius: 8px;
        margin-right: auto;
    }
}

.project:nth-child(even) {
    .project-image {
       order: 1;
       @media (max-width: 1275px) {
        order: 0;
       }
    }
}

.contacts {
    flex-shrink: 1;
    flex-grow: 2;
    max-width: 598px;
    h2 {
        font-size: 48px;
        line-height: 48px;
    }
    .description {
        margin: 32px 0;
        color: #00000099;
        line-height: 24px;
    }
    @media (max-width: 1275px) {
        max-width: none;
    }
}

.call-me {
    display: flex;
    align-items: center;
    gap: 123px;
    @media (max-width: 1275px) {
        flex-direction: column-reverse;
        gap: 24px;
        padding: 0 40px;
        align-items: start;
    }
    @media (max-width: 725px) {
        flex-direction: column-reverse;
        padding: 0 20px;
    }
}

.email,
.phone {
    font-size: 18px;
    font-weight: 600;
}

.email {
    margin-bottom: 12px;
}

.desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    @media (max-width: 768px) {
        display: none;
    }
}

.links-wrapper {
    display: flex;
    gap: 48px;
    font-size: 16px;
}

.mobile {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    @media (max-width: 768px) {
        display: flex;
    }
}

.resume-btn {
    padding: 17px 20px;
    background-color: black;
    color: white;
    border-radius: 8px;
}


.burger-btn {
    font-size: 32px;
    background: transparent;
}

.form-wrapper {
    width: 100%;
    max-width: 495px;
    @media (max-width: 1275px) {
        max-width: none;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

input {
    display: block;
    width: 100%;
    height: 57px;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 16px 12px;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
}

textarea {
    display: block;
    width: 100%;
    height: 200px;
    border: 1px solid rgba($color: #000000, $alpha: 60%);
    border-radius: 8px;
    resize: none;
    margin-bottom: 20px;
    padding: 16px 12px;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
}

.btn {
    display: block;
    width: 100%;
    max-width: 495px;
    @media (max-width: 1275px) {
        max-width: none;
    }
    @media (max-width: 725px) {
        max-width: none;
    }
}

.contact-btn {
    padding: 21px 19.5px;
    background-color: black;
    color: white;
    border-radius: 8px;
    font-weight: 800;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    max-width: 143px;
    width: 100%;
    @media (max-width: 1275px) {
        max-width: none;
        width: 100%;
    }
}

.contact {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: flex-start;
    width: 100%;
    max-width: 495px;
    @media (max-width: 1275px) {
        max-width: none;
    }
    @media (max-width: 725px) {
        flex-direction: column;
    }
}

.hero1 {
    display: flex;
    gap: 24px;
    @media (max-width: 725px) {
        flex-direction: row;
    }
}
 
footer {           
    background-color: #000;   
    padding: 30px 0;
}
